
<div class = "main">
	<div class = "slider">
		<%= image_tag("clawOrth2.jpg", :id => "image1") %>
		<%= image_tag("rails.png", :id => "image2")%>
		<%= image_tag("FTCicon.jpg", :id => "image3")%>
	</div>
	<br />

	<article>
	<div class = "news">
		<div id = "news-header">
			<h1>In Recent News . . .</h1>
		</div>

		<div id = "title">
			<p>Lorem Ipsum Dolor</p>
		</div>

		<div id = "description">
			<p>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor<p>
		</div>

	</div>
	</article>
</div>

<sidebar>
<div class = "secondary">
	<div class = "years">
		<div id = "title">
			<p>Year</p>
        </div>
        <ul id = "slider">
            <li><a href="#" id="gallery-prev">previous</a>        
            <div id = "gallery-wrap">
                <ul id = "gallery">
                    <li><%= link_to "2010" %></li>
                    <li><%= link_to "2011" %></li>
                    <li><%= link_to "2012" %></li>
                    <li><%= link_to "2013" %></li>
                    <li><%= link_to "2014" %></li>
                    <li><%= link_to "2015" %></li>                
                </ul>
            </div>
            <a href= "#" id="gallery-next">next</a>
        </ul>
        <br /><br /><br /> 
    </div>
	<br /> <br />
	<div class = "background-info">
		<div id = "question">
				<p>Who Are We?<p>
		</div>
		<div id = "statement">
			<p>- A Robotics Team -</p>
		</div>

		<div id = "description">
			<p>Lorem ipsum lorem ipsum
			Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum</p>
		</div>
	</div>
	<br /><br />

	<div class = "tools">
		<div id = "title">
			<p>Tools:</p>
		</div>
	</div>

    <br /><br /><!-- I merely put this in to check if the sticky footer is up to snuff -->

</div>
</sidebar>



