
<div class = "main">
	<div class = "slider">
		<%= image_tag("team.jpg", :id => "image1")%>        
		<%= image_tag("LoadingUnloadingProcess.png", :id => "image2") %>
		<%= image_tag("sliderImage1.png", :id => "image3")%>
		<%= image_tag("sliderImage4.png", :id => "image4")%>
	</div>
	<br />

    <article>
    <% @post = Post.last %>
    <div class = "news">
		<div id = "news-header">
                <h1> In Recent News . . .</h1>

		</div>

		<div id = "title">
            <%= link_to @post.title, @post, :id => "posttitle" %>
		</div>

        <div id = "description">
            <%= link_to @post.entry, @post, :id => "lastpost" %>
		</div>

	</div>
	</article>
</div>

<sidebar>
<div class = "secondary">
	<div class = "years">
		<div id = "title">
			<p>Year</p>
        </div>
        <ul id = "slider">
                <li><a href="#" id="gallery-prev"><%= image_tag("year_arrowL.png")%></a>       
            <div id = "gallery-wrap">
                <ul id = "gallery">
                    <% Year.find_each do |s| %>
                            <li><%=link_to image_tag("#{s.yearno}-#{s.yearno+1} Robot.jpg"), year_path(s), :id => "robimg" %><p><%= link_to "#{s.yearno}", year_path(s) %></p>
                            </li>
                            
                    <% end %>               
                </ul>
            </div>
            <a href= "#" id="gallery-next"><%= image_tag("year_arrowR.png")%></a>
        </ul>
    </div>
	<br /> <br /><br /><br /><br /><br /><br /> 
	<div class = "background-info">
		
		<div id = "question">
				<p><%= link_to "Who are we?",members_path, :class => "background-style" %><p>
		</div>
		<div id = "statement">
				<p><%= link_to "- A Robotics Team -",members_path, :class=> "background-style"%></p>
		</div>

		<div id = "description">
                <p><%= link_to "We are FTC Team 4422, the Red HoloRAMS. We are a group of individuals who share a common interest--robotics, and have developed strong bonds in order to further this passion. Originally born as the Red Holograms, we had a moment of pure brilliance in one of our meetings, when one of our members drew a little cartoonish ram. Thus, the name was changed, but the flag of our beliefs  stood strong. Each one of us is not only dedicated only bring out the best in ourselves; we work to bring out the best in our friends as well as our challengers.",members_path, :class=> "background-style" %></p>
		</div>
	</div>
	<br /><br />

	<div class = "tools">
		<div id = "title">
			<p>Tools:</p>
        </div>
        <ul id = "spriting" class = "horizontal">
            <li><%= link_to image_tag("icons/blender.jpg"), "http://www.blender.org" %></li>
            <li><%= link_to image_tag("icons/github.jpg"), "http://www.github.com" %></li>
            <li><%= link_to image_tag("icons/sketchup.jpg"), "http://www.sketchup.com/" %></li>
            <li><%= link_to image_tag("icons/robotc.jpg"), "http://www.robotc.net/" %></li>
            <li><%= link_to image_tag("icons/tetrix.jpg"), "http://www.tetrixrobotics.com/" %></li>
            <li><%= link_to image_tag("icons/nxt.png"), "http://us.mindstorms.lego.com/en-us/default.aspx" %></li>
        </ul>
	</div>

    <br /><br /><!-- I merely put this in to check if the sticky footer is up to snuff -->

</div>
</sidebar>



