
<div class = "main">
	<div class = "slider">
		<%= image_tag("LoadingUnloadingProcess.png", :id => "image1") %>
		<%= image_tag("rails.png", :id => "image2")%>
		<%= image_tag("FTCicon.jpg", :id => "image3")%>
	</div>
	<br />

	<article>
    <div class = "news">
        <a href="http://google.com"></a>
		<div id = "news-header">
                <h1> In Recent News . . .</h1>

		</div>

		<div id = "title">
			<p>Lorem Ipsum Dolor</p>
		</div>

		<div id = "description">
			<p>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor<p>
		</div>

	</div>
	</article>
</div>

<sidebar>
<div class = "secondary">
	<div class = "years">
		<div id = "title">
			<p>Year</p>
        </div>
        <ul id = "slider">
            <li><a href="#" id="gallery-prev">previous</a>        
            <div id = "gallery-wrap">
                <ul id = "gallery">
                    <% Year.find_each do |s| %>
                            <li><%#= link_to year_path(s) %><p><%= link_to "#{s.yearno}", year_path(s) %></p></li>
                    <% end %>               
                </ul>
            </div>
            <a href= "#" id="gallery-next">next</a>
        </ul>
    </div>
	<br /> <br /><br /><br /><br /><br /><br /> 
	<div class = "background-info">
		<a href="http://google.com"></a>
		<div id = "question">
				<p>Who Are We?<p>
		</div>
		<div id = "statement">
			<p>- A Robotics Team -</p>
		</div>

		<div id = "description">
			<p>Lorem ipsum lorem ipsum
			Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum</p>
		</div>
	</div>
	<br /><br />

	<div class = "tools">
		<div id = "title">
			<p>Tools:</p>
        </div>
        <ul id = "spriting" class = "horizontal">
            <li><%= link_to image_tag("icons/blender.jpg"), "http://www.blender.org" %></li>
            <li><%= link_to image_tag("icons/github.jpg"), "http://www.github.com" %></li>
            <li><%= link_to image_tag("icons/sketchup.jpg"), "http://www.sketchup.com/" %></li>
            <li><%= link_to image_tag("icons/robotc.jpg"), "http://www.robotc.net/" %></li>
            <li><%= link_to image_tag("icons/tetrix.jpg"), "http://www.tetrixrobotics.com/" %></li>
            <li><%= link_to image_tag("icons/nxt.png"), "http://us.mindstorms.lego.com/en-us/default.aspx" %></li>
        </ul>
	</div>

    <br /><br /><!-- I merely put this in to check if the sticky footer is up to snuff -->

</div>
</sidebar>



