<%= content_tag "div", id: "blog", data: {posts: Post.all} do %>
    <% Post.all.each do |s| %>
        <div class = "<%= s.date.strftime("%Y") %>" %>
        <h1><%= s.title %></h1>
	    <h2>Posted at <%= "#{s.date}" %></h2>
        <h3><%= s.entry %></h3>
        <h1>---------------------</h1>
        </div>
        
	<% end %>
<%end%>
<aside>
    <div id = "Archives">
        <p> Archives <p>
    </div>
    <ul class = "archlist">
			<% Year.all.each do |y| %>
					<% if y.yearno != 2010 && y.yearno != 2011 %>	
							<li class = "yearItem" id = "<%=y.yearno%>"><div class = "archlink"> <%= "#{y.yearno}-#{y.yearno+1}" %></div></li>
					<%end%>
        <%end %>
    </ul>
</aside>



