
<div id = "awards">
    <p class = "ATitle">  Awards </p>   
    <ul class = "info">
        <% Award.find_all_by_year_id(@year.id).each do |s| %>
            <li><div class="trophies"> <%= image_tag("award.png") %> </div><p class="name"> <%= s.name %></p> </li>
        <%end%>  
    </ul>
</div>
<section id = "main">
<p id = "YTitle"><%= "#{@year.yearno}-#{@year.yearno+1}" %> </p>
    <figure>
        <%= image_tag("LoadingUnloadingProcess.png", :id => "image1") %>
		<%= image_tag("rails.png", :id => "image2")%>
		<%= image_tag("FTCicon.jpg", :id => "image3")%>
        <!--figcaption> Rammy H. Ramster </figcaption-->
    </figure>
</section>
<div id = "members">
    <p class = "ATitle">  Members </p>   
    <ul class = "info">
        <% Member.find_all_by_year_id(@year.id).each do |s| %>
				<li><%= link_to s.name, members_path + "#" + s.name.to_s, :id => "name" 	%></li>
        <%end%>
    </ul>
</div>
<div id = "robinfo">
    <p id = "RTitle"> The Robot: </p>
    <p><%= @year.robinfo %>
    </p>  
</div>
